.gmmail:hover {
  background-color: blueviolet;

}

.image_sachin {
  height: 100px;
  width: auto;
  opacity: 0.5
}

.navbar_new {
  width: 100%;
  background-color: rgb(8, 3, 3);
  color: white;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 40px;
  font-weight: bold;
}