.tabs {
    padding: 10px;
    border: 2px solid rgb(27, 181, 233);
    cursor: pointer;
    width: 400px;

}

.tabContainer {
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
}

.container_filter {
    width: 100%;
}